page-home {
    .mat-list.mat-list-item {
        display: none;
    }

    .searchbar-md {
        padding: 0;
    }

    .padding {
        padding: 0 0 0 20px;
    }

    .add-user-icon {
        font-size: 2.5em;
        padding: 15px;
    }

    .item-cover {
        left: 100%;
    }
}
